In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [3]:
df = pd.read_csv("data\heart_disease_uci.csv")
df

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

**About the data**
<pre>Target : num
0 = no heart disease
1 = mild heart disease
2 = moderate heart disease
3 = severe heart disease
4 = critical heart disease</pre>

In [5]:
df.drop(columns = ["ca", "thal", "id", "dataset"], inplace = True)
#note : inplace = true, does not work if u are accessing multiple columns
df[["fbs","restecg", "exang","slope"]] = df[["fbs","restecg", "exang","slope"]].fillna("NR")#NR -> Not Recorded
df.dropna(inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 827 entries, 0 to 919
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       827 non-null    int64
 1   sex       827 non-null    object
 2   cp        827 non-null    object
 3   trestbps  827 non-null    float64
 4   chol      827 non-null    float64
 5   fbs       827 non-null    object
 6   restecg   827 non-null    object
 7   thalch    827 non-null    float64
 8   exang     827 non-null    object
 9   oldpeak   827 non-null    float64
 10  slope     827 non-null    object
 11  num       827 non-null    int64
dtypes: float64(4), int64(2), object(6)
memory usage: 84.0+ KB

In [6]:

cat_features = ["sex", "cp", "fbs", "restecg", "exang", "slope"]
for cat in cat_features:
    print(df[cat].nunique())
df = pd.get_dummies(data = df,
               prefix = ["cp", "fbs", "restecg", "slope"],
               columns = ["cp", "fbs", "restecg", "slope"])
df = pd.get_dummies(data = df,
               prefix = ["sex", "exang"],
               columns = ["sex", "exang"],
               drop_first = True)
df

2
4
3
4
2
4

,age,trestbps,chol,thalch,oldpeak,num,cp_asymptomatic,cp_atypical angina,cp_non-anginal,cp_typical angina,...,restecg_NR,restecg_lv hypertrophy,restecg_normal,restecg_st-t abnormality,slope_NR,slope_downsloping,slope_flat,slope_upsloping,sex_Male,exang_True
0,63,145.0,233.0,150.0,2.3,0,False,False,False,True,...,False,True,False,False,False,True,False,False,True,False
1,67,160.0,286.0,108.0,1.5,2,True,False,False,False,...,False,True,False,False,False,False,True,False,True,True
2,67,120.0,229.0,129.0,2.6,1,True,False,False,False,...,False,True,False,False,False,False,True,False,True,True
3,37,130.0,250.0,187.0,3.5,0,False,False,True,False,...,False,False,True,False,False,True,False,False,True,False
4,41,130.0,204.0,172.0,1.4,0,False,True,False,False,...,False,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,62,158.0,170.0,138.0,0.0,1,True,False,False,False,...,False,False,False,True,True,False,False,False,True,True
914,46,134.0,310.0,126.0,0.0,2,True,False,False,False,...,False,False,True,False,True,False,False,False,True,False
915,54,127.0,333.0,154.0,0.0,1,True,False,False,False,...,False,False,False,True,True,False,False,False,False,False
917,55,122.0,223.0,100.0,0.0,2,True,False,False,False,...,False,False,False,True,True,False,False,False,True,False
919,62,120.0,254.0,93.0,0.0,1,False,True,False,False,...,False,True,False,False,True,False,False,False,True,True

In [7]:
X = df.drop(columns = ["num"])
Y = df["num"]
X

,age,trestbps,chol,thalch,oldpeak,cp_asymptomatic,cp_atypical angina,cp_non-anginal,cp_typical angina,fbs_False,...,restecg_NR,restecg_lv hypertrophy,restecg_normal,restecg_st-t abnormality,slope_NR,slope_downsloping,slope_flat,slope_upsloping,sex_Male,exang_True
0,63,145.0,233.0,150.0,2.3,False,False,False,True,False,...,False,True,False,False,False,True,False,False,True,False
1,67,160.0,286.0,108.0,1.5,True,False,False,False,True,...,False,True,False,False,False,False,True,False,True,True
2,67,120.0,229.0,129.0,2.6,True,False,False,False,True,...,False,True,False,False,False,False,True,False,True,True
3,37,130.0,250.0,187.0,3.5,False,False,True,False,True,...,False,False,True,False,False,True,False,False,True,False
4,41,130.0,204.0,172.0,1.4,False,True,False,False,True,...,False,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,62,158.0,170.0,138.0,0.0,True,False,False,False,True,...,False,False,False,True,True,False,False,False,True,True
914,46,134.0,310.0,126.0,0.0,True,False,False,False,True,...,False,False,True,False,True,False,False,False,True,False
915,54,127.0,333.0,154.0,0.0,True,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
917,55,122.0,223.0,100.0,0.0,True,False,False,False,False,...,False,False,False,True,True,False,False,False,True,False
919,62,120.0,254.0,93.0,0.0,False,True,False,False,True,...,False,True,False,False,True,False,False,False,True,True

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_, y_train, y_ = train_test_split(X, Y, test_size = 0.25, random_state = 55)
x_cv, x_test, y_cv, y_test = train_test_split(x_, y_, test_size= 0.5, random_state = 55)
x_train.shape, x_cv.shape,x_test.shape

((620, 22), (103, 22), (104, 22))

In [11]:
x_train = x_train.to_numpy()
x_cv = x_cv.to_numpy()
x_test = x_test.to_numpy()
y_train = y_train.to_numpy()
y_cv = y_cv.to_numpy()
y_test = y_test.to_numpy()

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rdf_model = RandomForestClassifier(n_estimators = 100,
                                   max_depth = 12,
                                   min_samples_split = 12,
                                   random_state = 55
                                   )
rdf_model.fit(x_train, y_train)
accuracy_score(rdf_model.predict(x_train), y_train)
accuracy_score(rdf_model.predict(x_cv), y_cv)
accuracy_score(rdf_model.predict(x_test), y_test)

0.6057692307692307